*:before,
*:after,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	background: #fcfcfc;
	color: #4d4d4d;
	width: 40em;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

input::-webkit-input-placeholder {
	font-style: italic;
}

input:-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

h1 {
	width: 100%;
	font-size: 4.5em;
	text-align: center;
	font-weight: 100;
	color: #e4381d;
	margin: 2em 0 0.5em;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

body:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	border-bottom: 1px solid #9A2E20;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(249,95,68)),to(rgb(228,56,29)));
	background: -webkit-linear-gradient(top, rgb(249,95,68), rgb(228,56,29));
	background: -moz-linear-gradient(top, rgb(249,95,68), rgb(228,56,29));
	background: -o-linear-gradient(top, rgb(249,95,68), rgb(228,56,29));
	background: -ms-linear-gradient(top, rgb(249,95,68), rgb(228,56,29));
	background: linear-gradient(to bottom, rgb(249,95,68) 0%,rgb(228,56,29) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#new-timer,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 0;
	box-shadow: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.edit:last-of-type {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#new-timer {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: none;
	font-weight: 100;
}

#main {
	position: relative;
	border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
	display: none;
}

#toggle-all {
	position: absolute;
	top: -42px;
	left: -4px;
	width: 40px;
	text-align: center;
	border: none; /* Mobile Safari */
}

#toggle-all:before {
	content: '»';
	font-size: 28px;
	color: #d9d9d9;
	padding: 0 25px 7px;
}

#toggle-all:checked:before {
	color: #737373;
}

#timer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#timer-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#timer-list li:last-child {
	border-bottom: none;
}

#timer-list li.editing {
	border-bottom: none;
	padding: 0;
}

#timer-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
	font-weight: 100;
}

#timer-list li.editing .edit-small {
	width: 106px;
	float: left;
}

#timer-list li.editing .view {
	display: none;
}

#timer-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#timer-list li .toggle:after {
	content: '✔';
	line-height: 43px; /* 40 + a couple of pixels visual adjustment */
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#timer-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#timer-list li label {
	word-break: break-word;
	padding: 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

#timer-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#timer-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #E4381D;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#timer-list li .destroy:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#timer-list li .destroy:after {
	content: '✖';
}

#timer-list li:hover .destroy {
	display: block;
}

#timer-list li .edit {
	display: none;
}

#timer-list li.editing:last-child {
	margin-bottom: -1px;
}


#timer-count {
	float: left;
	text-align: left;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li a {
	color: #83756f;
	margin: 2px;
	text-decoration: none;
}

#filters li a.selected {
	font-weight: bold;
}

#clear-completed {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	font-size: 11px;
	padding: 0 10px;
	border-radius: 3px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}

.hidden{
	display:none;
}

.time-until {
	margin-right: 1.5em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.one-quarter {
	width: 25%;
}

.three-quarters {
	width: 75%;
}